body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    
}
.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    height: 40px;
}
.header-logo {
    font-size: 24px;
    align-self: center;
}
.hero-section {
    background-color: #1f2937;
    height: 500px;
}
.main-title {
    color: #f9faf8;
}
.hero-text p {
    color: #e7e5eb; 
}
.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
}
.hero-img img {
    background-color: lightgrey;
    max-width: 500px;
    height: 300px;
}
a {
    color: #e7e5eb;
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
li {
    padding: 16px;
}
.section1 {
    bacground-color: white;
    color: #1f2937;
    height: 500px;
}
.section2 {
background-color: #e5e7eb;
}
.section3 {
    background-color: white;
}
.box {
    background-color: #3882f6;
}
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}
.box1, .box2, .box3 {
    border: solid 3px #3882f6;
}