body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}
.header {
    background-color: #1f2937;
    color:#f9faf8;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    height: 75px;
}
.header-logo {
    font-size: 24px;
    align-items: flex-start;
    margin: 16px;
    margin-left: -160px;
}
.hero-section {
    background-color: #1f2937;
    height: 600px;
    display: flex;
    justify-content: space-around;
}

.main-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    width: 700px;
    justify-content: center;
    margin-left: 120px;
   
}
.hero-text p {
    color: #e7e5eb; 
    justify-content: center;
    margin-left: 120px; 
    width: 700px;
    font-size: 18px;
    margin-top: -60px;

}
.hero-text button {
    background-color: #eb8900;
    color: #f9faf8;
    border: solid white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 120px;
    margin-top: 10px;

}
.hero-text button:hover {
    background-color: #f9faf8;
    color: #eb8900;
    border: solid #eb8900;
}
.hero-img img {
    background-color: lightgrey;
    width: 600px;
    height: auto;
    margin-top: 80px;
    margin-right: 150px;
}
a {
    color: #e7e5eb;
    text-decoration: none;
    
} 
a:hover {
    text-decoration: underline #eb8900;
    color: #eb8900;
} 
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-right: -150px;
    font-size: 18px;
} 
li {
    padding: 0px 30px;
}
.section1 {
    background-color: white;
    color: #1f2937;
    height: 500px;
}
.section1 h2 {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
}
.section2 {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
   
}
.section3 {
    background-color: white;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.box {
    background-color: #eb8900;
    height: 180px;
    width: 60%; 
    border-radius: 10px;
}
.box h3 {
    font-size: 24px;
    margin-left: 12%;;
    margin-top: 50px;
    width: 400px;
}
.box p {
    font-size: 18px;
    margin-left: 12%;
    margin-top: -10px;
    width: 400px;
}
.button button {
    background-color: #eb8900;
    color: #f9faf8;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: solid white;
    font-size: 20px;
    font-weight: bold;
    margin-top: -60px;
    margin-left: -200%;
}
.button button:hover {
    background-color: #f9faf8;
    color: #eb8900;
    border: solid #eb8900;
}
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    
}
.box1, .box2, .box3 {
    border: solid 3px #eb8900;
}